/* Styles for front page */


#submit {
  background-color: black;
  color: white;
}

#submit.dark-theme {
  background-color: white;
  color: black;
}

main {
  display: flex;
  flex: 1; 
  justify-content: space-between;
  align-items: flex-start;
  width: auto;
  box-sizing: border-box;
}

article, form {
  width: 48%; 
  box-sizing: border-box;
  padding: 20px;
}